@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

*{
    margin: 0;
    font-family: 'inter', sans-serif;
}

section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main{
    background-image: url(img/bgMAIN.png);
}
#about{
    background-image: url(img/bgABOUT.png);
}
#skills{
    background-image: url(img/bgSKILLS.png);
}
#works{
    background-image: url(img/bgWORKS.png);
}
#comments{
    background-image: url(img/bgCOMMENTS.png);
}

.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main-block{
    flex-direction: column;
    height: 100vh;
}
.main-content{
    background-image: url(img/form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 223px;
    padding-left: 30px;
    z-index: 2;
}
.main-title{
    padding-top: 67px;
    color: #2B2D35;
    font-size: 80px;
}
.main-subtitle{
    color: #2B2D35;
    font-family: 'Comfortaa';
    font-size: 20px;
}
.button{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background-color: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
    transition-duration: 0.3;
}
.button a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}
.button:hover{
    background: #a0d826;
}
.planet{
    background: url(img/planet.png);
    background-repeat: no-repeat;
    width: 4005px;
    height: 330px;
    transform: rotate(-176deg);
    position: absolute;
    right: 100px;
    top: 80px;
    z-index: 1;
}
.moving-planet{
    background: url(img/moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes planet-move {
    from{transform: translateY(0px);}
    to{transform: translateY(70px)}
}
.title{
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0  black;
}

.about-content{
    width: 35%;
    height: 290px;
    background: #792AFF;
    padding-left: 40px ;
    padding-top: 40px;
    position: relative;
    display: flex;
}
.about-title{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Comfortaa';
}
.about-card{
    background-image: 
        url(img/form2.png);
    background-repeat: 
                 no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.about-card p{
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Comfortaa';
}

.about-card img{
    padding-bottom: 20px;
}
.cloud{
    background: url(img/cloud.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 50px;
    left: 30px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills-card{
    background: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 20px;
}
.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}
.moving-planet2{
    background: url(img/moving-planet2.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 200px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 70px;
    left: 0px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.works-block img{
    margin: 0 20px;
    width: 27%;
    box-shadow: 
      7px 7px 0 #000000;
}

.comments-block{
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
}
.comments-card{
    background-image: url(img/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.comments-card h3{
    font-size: 18px;
    font-family: 'Comfortaa';
    padding: 10px;
}
.comments-card p{
    font-size: 14px;
    font-family: 'Comfortaa';
    padding: 10px 20px;
    text-align: center;
}
.comment{
    background-image: url(img/comment.png);
    background-repeat: no-repeat;
    width: 327px;
    height: 161px;
    text-align: center;
}